<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="place">Destination : {{place.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">

  <h1>Select call time</h1>
  <div class="loader"></div>

  <div class="bottom-container">
  <!-- <ion-item *ngIf="place">
  test
  <ion-range min="0" max="5" step="1"></ion-range>
  </ion-item> -->

  <ion-item *ngIf="place" [formGroup]="rangeForm">
    <ion-range formControlName="minRange" #minsValue min="0" [max]="maxTripDuration" step="1" pin="true" snaps="true" ticks="true">
      <ion-icon size="small" slot="start"></ion-icon>
      <ion-icon slot="end" name="alarm-outline"></ion-icon>
    </ion-range>

  </ion-item>
  <ion-label color="secondary" id="lbl">Time in Minutes: {{rangeForm.value.minRange}} </ion-label>
  <ion-button (click)="startTracking()" color="secondary" id="cta">Confirm</ion-button>
</div>
  <ion-item>{{rangeForm.value.minRange}} mins </ion-item>
  <ion-item>and fence distance is {{fence}} km</ion-item>

  <div class="button">
  
    <ion-button   (click)="back()">BACK</ion-button>
  </div>

  <div class="message">
    <ion-item *ngIf="message">{{message}}</ion-item>
  </div>
  <div class="distance" *ngIf="distance">
    <ion-item *ngFor="let i of distance">{{i}}</ion-item>
  </div>

  <div class="results" *ngIf="positions">
    <ion-item *ngFor="let i of positions">{{i.coords1}}</ion-item>
  </div>


</ion-content>
